.home {
  header{
    hr{      
      border-bottom: 3px dashed @navigation-border;      
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 100%; 
    }   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 20px 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media (max-width: 503px) {      
        width: 90%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile{      
      flex-direction: column-reverse;
    }  
   
    .text-content {
      padding-left: 1%;
      padding-right: 0;      
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;   
    }    
  }

  .content-destination {
    width: 90%;
    margin: 0 auto 30px;   

    img {
      border-radius: 10px;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;

    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed silver;
    display: flex;
    flex-direction: row;
    @media @mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;

    }
    @media @tablet{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;

    }
 
    .destination {
      width: 30%;
      margin-bottom: 30px;      
      .btn{
        .excursion-buttons(14%, 80%,#3CAEA3);
      }
      @media @mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;  
      } 
      @media @tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;  
      }      
    }

    @media (max-width: 503px) {
      display: flex;
      flex-direction: column;
    }
  }
  .form-section{
    width: 90%;
    color:darken(@sandy-beach, 10%);
    .form {
      padding: 5.5rem;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      input{
        height: 70px;
        margin: 10px 0;
      }
      textarea{
        margin: 10px 0;
      }
      
    }
  }
}// home