.home {
  header{
    hr{      
      border-bottom: 3px dashed @navigation-border;      
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 503px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 100%;
    }   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media (max-width: 503px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media (max-width: 503px) {      
        width: 90%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;  
   
    .text-content {
      padding-left: 1%;
      padding-right: 0;      
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;   
    }    
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;   

    img {
      border-radius: 10px;
    }

    @media (max-width: 503px) {
      display: flex;
      flex-direction: column;

    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed silver;
    display: flex;
    flex-direction: column;
    @media (max-width: 503px) {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    
    // align-items: center;  

    .destination {
      width: 30%;
      margin-bottom: 30px;
      .btn{
        .excursion-buttons(#3CAEA3);
      }
      
    }

    @media (max-width: 503px) {
      display: flex;
      flex-direction: column;
    }
  }
}// home