// Mixins in here

.excursion-buttons(@border-radius, @width, @color) {
    margin: 1em 0;
    padding: 0.7em;
    color: white;
    background-color: powderblue;
    border: .1em solid @color;
    border-radius: @border-radius;
    text-align: center;
    font-size: 1.9rem;
    width: @width;  
    
  }
  