// Navigation Styles here

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    flex: 1;
    font-size: 1.6rem;
    .nav-logo{
        list-style: none;
        margin-right: 42rem;
    }
    .nav-links{
        display: flex;
        flex: 1;
        flex-direction: right;
        .nav-item{
            list-style: none;
            text-decoration: none;
            margin-right: 30px;
        }        
    }
}

